<form  action="<%= url %>" method="post">
  <label for="email">Email:</label>
  <input id="email" type="text" name=user[email]>
  <br/>
  <label for="password">Password:</label>
  <input id="password" type="text" name=user[password]>
  <br/>
  <input type="submit" value="<%= action %> ">
</form>
